@use 'reset';
@use 'font';
@use 'color';
html, body {
    height: 100%;
    margin: 0;
    background-color: color.$bg-4;
    color: white;
    font-family: 'Roboto', sans-serif;
}
header {
    background-color: color.$bg-3;
}
main {

}
footer {
    background-color: color.$bg-3;
    text-align: center;
    width: 100%;
}
img {
    max-width: 100%;
    max-height: 100%;
}
a {
    color: color.$tt-blue;
}
.img-container {
    display: flex;
}
.logo {
    height: 50px;
}
.logo-text {
    font-size: font.$xxxlarge;
    background-size: 100%;
    background: linear-gradient(45deg, color.$tt-blue, color.$bg-1);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}
.container {
    display: flex;
    align-items: center;
}
.content-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.content {
    display: flex;
    justify-content: space-between;
    flex: 1;
    background-color: red;
}
.project-pane {
    width: 29%;
    height: 100%;
    background-color: color.$bg-2;
}
.project-header {
    font-size: font.$xxlarge;
}
.project-title {
    font-size: font.$xlarge;
}
.todo-pane {
    width: 70%;
    background-color: color.$bg-2;
}
.todo {
    display: flex;
}
.todo-title {
    font-size: font.$large;
}
.todo-priority {
    background-color: color.$hp;
    width: 10px;
}
#githubIcon {
    width: 20px;
    height: auto;
}

#githubProfileLink {
    margin: 15px;
}