@use 'reset';
@use 'font';
@use 'color';
* {
    box-sizing: border-box;
}
html, body {
    height: 100%;
    margin: 0;
    background-color: color.$bg-4;
    color: #404040;
    font-family: 'Roboto', sans-serif;
}
header {
    background-color: color.$bg-4;
    margin-left: 1%;
    display: flex;
    margin-bottom: 5px;
}
footer {
    background-color: color.$bg-4;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 1%;
}
img {
    max-width: 100%;
    max-height: 100%;
}
a {
    color: color.$tt;
}
button {
    display: flex;
    align-items: center;
    background: transparent;
    border: none;
    color: #404040;
}
.img-container {
    display: flex;
}
.logo {
    margin-right: 10px;
    height: 100%;
}
.logo-text {
    font-size: font.$xxxlarge;
    background-size: 100%;
    background: linear-gradient(45deg, color.$tt, color.$bg-1);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}
.logo-name-container {
    display: flex;
    align-items: center;
    width: 28%;
    justify-content: center;
}
.content-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.content {
    display: flex;
    justify-content: space-between;
    flex: 1;
    background-color: color.$bg-4;
}
.project-pane {
    width: 28%;
    height: 100%;
    background-color: color.$bg-3;
    border: 1px solid color.$tt;
    border-radius: 10px 10px 10px 10px;
    margin-left: 1%;
}
.project-list {
    margin-bottom: 20px;
}
.project-header {
    font-size: font.$xxlarge;
    background-color: color.$bg-2;
    border-radius: 10px 10px 0 0;
}
.project {
    display: flex;
}
.project-title {
    font-size: font.$large;
}
.project-btn {
    width: 80%;
}
.num-todos-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('../icons/circle-icon.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    font-size: font.$medium;
    flex-grow: 1;
}
.todo-pane {
    width: 69%;
    margin-right: 1%;
    background-color: color.$bg-1;
    border: 1px solid color.$tt;
    border-radius: 10px 10px 10px 10px;
    display: flex;
    flex-direction: column;
}
.todo-options-bar {
    height: 5%;
    background-color: color.$bg-2;
    border-radius: 10px 10px 0 0;
    display: flex;
}
.todo-options-list {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
}
.todo-option {
    background-color: color.$bg-1;
    margin-right: 10px;
    border-radius: 10px;
}
.todo-option-image {
    margin-left: 5px;
}
.todo-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.todo {
    display: flex;
    border: 1px solid color.$tt;
    border-radius: 10px 10px 10px 10px;
    background-color: color.$bg-3;
    align-items: center;
    justify-content: space-between;
    color: #404040;
    width: 98%;
    margin-top: 5px;
}
.todo-title {
    font-size: font.$large;
}
#githubIcon {
    width: 20px;
    height: auto;
}

#githubProfileLink {
    margin: 15px;
}